#group3{
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

#group3 .form-label{
    width:100%;
}

@media screen and (min-width:441px){
    #group3{
        margin:15px 0;
    }

    textarea{
        padding-left: 5px;
        resize:none;
    }
}

@media screen and (min-width: 769px){

    .thumb{
        justify-content: center;
    }

    .form-label-groups:nth-child(4){
        width:100%;
    }

    .form-label-groups:nth-child(4) .form-label{
        display: flex;
        align-items: center;
    }
}