.elements{
    display:flex;
    justify-content: center;
    width:fit-content;
    margin:auto;
}

.element{
    display:flex;
    flex-direction: column;
}

.element label{
    height:30px;
    display:flex;
    align-items: center;
}

.card{
    width:120px;
    height:100%;
    padding: 10px 10px;
    background-color: var(--bg-primary);
    border-radius: 10px;
}

.img-container{
    width:100px;
    height:100px;
}

.character{
    border-radius: 50%;
}

.img-element{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:50%;
    position:relative;
    bottom:90px;
    left: 64px;
}

@media screen and (min-width: 426px){
    .filters-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .weapons-rarity-container{
        margin-bottom:0;
    }

    select{
        font-size: 1em;
    }
}

@media screen and (min-width:769px){
    .filters-container{
        width:80%;
    }
}