main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container{
    width:290px;
    height:fit-content;
    margin:0 auto 20px auto;
    padding:15px;
    background-color: var(--bg-secondary);
    border-radius:20px;
    display:flex;
    flex-direction: column;
}

h2{
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    font-family: "Roboto condensed";
}

form{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.form-label{
    display:flex;
    flex-direction: column;
}

fieldset{
    padding:10px;
    border:2px solid var(--bg-primary);
    display:flex;
    flex-direction: column;
    align-items: center;
}

button,
input{
    font-family: 'Roboto', sans-serif;
}

input[type="text"],
select{
    width:100%;
    padding:5px;
    border:none;
    border-radius:5px;
}

input[type="file"]::file-selector-button{
    margin:auto;
    padding: 5px 10px;
    background-color: var(--bg-primary);
    color:var(--font-color);
    border:none;
    border-radius: 20px;
}

.btn{
    max-height: 40px;
    padding: 5px 10px;
    color:var(--font-color);
    background-color: var(--bg-primary);
    border:none;
    border-radius: 20px;
}

img{
    max-width:100px;
}

.resource-container{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
}

.submit-container{
    width:100%;
    display:flex;
    justify-content: center;
}

button[type="submit"]{
    width:100%;
}

@media screen and (min-width: 768px) {
    h1+.container {
        width:fit-content;
    }

    .container{
        width:auto;
        max-width:80%;
    }

    .btn,
    input[type="file"]::file-selector-button{
        
        transition: background-color 0.4s ease, color 0.4s ease;
    }

    .btn:hover,
    input[type="file"]::file-selector-button:hover{
        background-color: var(--font-color);
        color:var(--bg-primary);
        transition: background-color 0.4s ease, color 0.4s ease;
        cursor: pointer;
    }

    button[type="submit"]{
        width:300px;
    }

    .cat{
        width:500px;
        align-self: center;
    }

    select:hover{
        cursor:pointer;
    }
}