form[name="select-artifact-form"]{
    display:flex;
    flex-direction: column;
}

textarea{
    margin-bottom: 10px;
    padding-left: 5px;
    resize:none;
}

fieldset img{
    width:100px;
    align-self:center;
}

select:hover{
    cursor:pointer;
}