main{
    display:flex;
    flex-direction: column;
}

.container{
    margin: 0 15px 15px 15px;
    padding: 15px;
    background-color: var(--bg-secondary);
    border-radius:20px;
    display: flex;
    flex-direction: column;
}

.img-description{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.img-description img{
    width:66px;
    border-radius: 15px;
}

.description{
    max-width:60%;
    padding: 15px;
    background-color: var(--bg-primary);
    border-radius:15px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

h2{
    margin: 15px auto;
    font-size: 20px;
    text-align: center;
}

.sub-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container p{
    margin:15px;
    padding:20px 15px;
    background-color: var(--bg-primary);
    border-radius:15px;
    text-align: justify;
}

table{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg-primary);
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

table img{
    width:40px;
    height:40px;
    border-radius: 6px;
}

td,
th{
    min-width:75px;
    max-width: 85px;
    padding:5px;
    border: 1px solid var(--font-color);
    text-wrap:wrap;
    font-size: 14px;
}

.rarity1{
    background-color:var(--rarity-color-1);
}

.rarity2{
    background-color:var(--rarity-color-2);
}

.rarity3{
    background-color:var(--rarity-color-3);
}

.rarity4{
    background-color:var(--rarity-color-4);
}

.rarity5{
    background-color:var(--rarity-color-5);
}

@media screen and (min-width:426px) {
    .img-description{
        justify-content: space-evenly;
    }

    .sub-container p{
        width:70vw;
    }
}

@media screen and (min-width:769px) {
    .container{
        padding:30px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .img-description, .p1{
        width:50%;
    }

    .sub-container p{
        width:auto;
        min-height: 250px;
        display: flex;
        align-items: center;
    }

    table{
        width:auto;
    }

    td,th{
        max-width:initial;
        min-width: auto;
    }
}