button,
input{
    font-family: 'Roboto', sans-serif;
}

input[type="text"],
select{
    width:100%;
    padding:5px;
    border:none;
    border-radius:5px;
}

sup img{
    width:20px;
}

form,
#group1,
.form-label,
.rarity,
.rarity div{
    display:flex;
    flex-direction: column;
}

form{
    width:100%;
}

.container{
    width:290px;
    margin:0 auto 20px auto;
    padding:15px;
    background-color: var(--bg-secondary);
    border-radius:20px;
}

#group1{
    row-gap: 15px;
}

.input-file{
    align-items: center;
    justify-content: center;
}

#group2{
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

#group2 .form-label{
    width:100%;
}

.rarity div{
    height:30px;
    justify-content: center;
}

.btn{
    max-height: 40px;
    padding: 5px 10px;
    color:var(--font-color);
    background-color: var(--bg-primary);
    border:none;
    border-radius: 20px;
}

input[type="file"]{
    max-width: 240px;
}

input[type="file"]::file-selector-button{
    margin:auto;
    padding: 5px 10px;
    background-color: var(--bg-primary);
    border:none;
    border-radius: 20px;
    color:var(--font-color);
    display:flex;
    flex-direction: column;
}

.form-label-groups{
    display: flex;
    flex-direction: column;
}

.form-label-groups .form-label{
    margin-bottom: 15px;
    flex-direction: column;
}

fieldset{
    max-width:260px;
    padding:5px;
    border: var(--bg-primary) 3px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form+p{
    margin-top: 5px;
    text-align: center;
}

input[type="file"]+img{
    width:100px;
}

@media screen and (min-width:769px) {

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container{
        width:90%;
        max-width:888px;
    }

    form{
        row-gap:15px;
    }

    #group1{
        width:100%;
        flex-direction: row;
        column-gap: 15px;
    }

    #group2{
        margin:15px 0;
    }

    .form-label{
        flex:1;
    }

    .form-label-groups{
        flex-direction: row;
        column-gap:15px;
    }

    .form-label-groups .form-label{
        width:32%;
    }

    .form-label-groups .form-label label{
        font-size:16px;
    }

    .form-label button{
        width:150px;
        padding:5px 15px;
    }

    .btn{
        max-height: 80px;
        border-radius: 40px;
    }

    input[type="submit"]{
        width:30%;
        align-self: center;
    }

    input[type="file"]{
        max-width: 200px;
    }
}

.error{
    padding-top:0.5em;
    font-size:12px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

@media screen and (min-width: 1024px) {

    .btn:hover,
    input[type="file"]::file-selector-button:hover{
        background-color: var(--font-color);
        color:var(--bg-primary);
        transition: background-color 0.4s ease, color 0.4s ease;
        cursor:pointer;
    }

    .btn,
    input[type="file"]::file-selector-button{
        transition: background-color 0.4s ease, color 0.4s ease;
    }

    .error{
        font-size:14px;
    }

    select:hover{
        cursor:pointer;
    }
}