main{
    display:flex;
    flex-direction: column;
}

.container{
    background-color: var(--bg-secondary);
    border-radius:20px;
    margin: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.img-description{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.img-description img{
    width:66px;
}

.description{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: var(--bg-primary);
    border-radius:15px;
    padding: 15px;
    max-width:60%;
}

h2{
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
}

.sub-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    background-color: var(--bg-primary);
}

td,
th{
    border: 1px solid var(--font-color);
    padding:5px;
    min-width:75px;
    max-width: 85px;
    text-wrap:wrap;
    font-size: 14px;

}

table img{
    width:40px;
    height:40px;
    padding:2px;
}

.rarity1{
    background-color:var(--rarity-color-1);
}

.rarity2{
    background-color:var(--rarity-color-2);
}

.rarity3{
    background-color:var(--rarity-color-3);
}

.rarity4{
    background-color:var(--rarity-color-4);
}

.rarity5{
    background-color:var(--rarity-color-5);
}

@media screen and (min-width:426px) {
    .container{
        width:85%;
        margin:0 auto 25px auto;
    }

    .img-description{
        justify-content: space-evenly;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    h1{
        margin: 50px auto;
    }

    .container{
        max-width:85%;
        margin: 0 auto 50px auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    td,th{
        font-size: 18px;
        min-width:90px;
        max-width: 110px;
    }

    .img-description img{
        width:120px;
    }

    .sub-container{
        padding: 30px;
    }

    .sub-container:nth-child(2) img{
        width:70px;
        height: 70px;
    }
}

@media screen and (min-width:1025px) {
    h1{
        margin: 50px auto;
    }

    .container{
        max-width:85%;
        margin: 0 auto 50px auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .img-description{
        width: 50%;
        /* align-self: center; */
    }

    .img-description img{
        width:174px;
    }

    .sub-container{
        width:50%;
    }

    .sub-container:nth-child(2){
        order: 3;
        align-self: center;
    }
    .sub-container:nth-child(3){
        order: 2;
    }
    .sub-container:nth-child(4){
        width:50%;
    }
    
    p{
        margin: 15px 0;
    }

}