main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Filters / Sort CSS */
.filters-container{
    margin:15px;
    padding:10px;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
}

.weapons-rarity-container{
    margin: 0 auto 15px auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
}

fieldset{
    padding:0 10px 10px 10px;
    border-radius: 10px;
}

.weapons,
.rarity-container{
    display:flex;
}

.weapon-container,
.rarity{
    display:flex;
    flex-direction: column;
}

.weapon-container img,
.element img{
    width:30px;
}

.rarity div{
    height:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

sup img{
    width:20px;
}

.weapon-container label{
    height:30px;
    display:flex;
    align-items: center;
}

select{
    width:245px;
    height:2em;
    margin: 15px auto;
    padding-left: 5px;
    border-radius:5px;
}

/* Gallery CSS */
.gallery{
    margin: 0 15px 20px 15px;
    padding:10px 0;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:15px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

strong{
    /* Height calculated to take up the rest of the available space in the card*/
    height:calc(100% - 100px);
    font-weight: normal;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.rarity4{
    background-color: var(--rarity-color-4);
}

.rarity5{
    background-color: var(--rarity-color-5);
}

@media screen and (min-width: 426px){

    .filters-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .weapons-rarity-container{
        margin-bottom:0;
    }

    .gallery{
        padding: 15px;
        gap:15px;
    }

    select{
        font-size: 1em;
    }
}

@media screen and (min-width:769px){
    main{
        display:flex;
        flex-direction: column;
    }

    .filters-container{
        justify-content: space-between;
        align-items: center;
        margin: 15px auto;
    }

    .gallery{
        max-width:80%;
        margin: 0 auto 20px auto;
        padding:20px;
        gap:20px;
    }

    .card:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    select:hover,
    input:hover,
    label:hover{
        cursor:pointer;
    }
}