main{
    display:flex;
    flex-direction: column;
}

.container{
    background-color: var(--bg-secondary);
    border-radius:20px;
    margin: auto 15px 15px 15px;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.character{
    background-color: var(--bg-primary);
    border-radius: 15px;
    padding: 15px;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.cards-container{
    display:flex;
    justify-content: space-evenly;
}

.card{
    background-color: var(--bg-primary);
    width:67px;
    padding: 2px;
    border: 1px solid var(--font-color);
    display:flex;
    flex-direction: column;
    height:125px;
}

.card img:first-child{
    width:62px;
    min-height:62px;
}

.card img:nth-child(2){
    width:15px;
    position:relative;
    bottom:60px;
    left:45px;
    margin-bottom:-15px;
}

.card p{
    text-align: center;
    font-size: 12px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.rarity4{
    background-color: var(--rarity-color-4);
}

.rarity5{
    background-color: var(--rarity-color-5);
}

/* button "voter" style */
button{
    background-color: var(--bg-secondary);
    color:var(--font-color);
    width:120px;
    padding:10px 10px;
    border-radius:25px;
    font-size:20px;
    font-family: 'Roboto';
    align-self:end;
    margin-right: 20px;
    margin-bottom:15px;
    border:none;
}

button:disabled{
    opacity:0.3;
}

.vote{
    width:70vw;
    background-color: var(--bg-secondary);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding:15px;
    border-radius:20px;
    margin: 0 auto 15px auto;
    text-align: center;
    display:none;
}

.vote input[type="number"]{
    width:50px;
    align-self: center;
    text-align: center;
}

.vote input[type="submit"]{
    width:100px;
    background-color: var(--bg-primary);
    border-radius:15px;
    border:none;
    color:var(--font-color);
    padding: 10px 15px;
    text-align: center;
    margin:auto;
    cursor:pointer;
    font-family: 'Roboto';
    font-size:16px;
}

@media screen and (min-width:531px) {
    .container{
        width:70%;
        margin:auto auto;
    }

    button{
        margin-top: 20px;
        align-self: center;
    }

    .card{
        width:100px;
        height:170px;
    }

    .card img:first-child{
        width:95px;
        min-height:95px;
    }

    .card img:nth-child(2){
        width:20px;
        bottom:90px;
        left:73px;
        margin-bottom:-15px;
    }

    .card p{
        font-size:16px;
    }

    .vote input[type="submit"]{
        font-size: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .container{
        width:90%;
        flex-direction: row;
        padding:30px;
        gap:30px;
    }

    .character{
        flex:1;
    }

    .cards-container{
        flex-direction: column;
        align-items: center;
        gap:20px;
        max-height:70%;
    }

    .card{
        width:113px;
    }

    .card img:first-child{
        width:107px;
        min-height:107px;
    }

    .card img:nth-child(2){
        width:25px;
        bottom:105px;
        left:80px;
        margin-bottom:-25px;
    }

    .card p{
        font-size:16px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .character>p{
        padding:20px;
    }

    button{
        margin:40px auto;
    }

    button:hover{
        cursor: pointer;
        background-color: var(--font-color);
        color:var(--bg-secondary);
        transition: background-color 0.4s ease, color 0.4s ease;
    }

    button:disabled:hover{
        cursor: not-allowed;
    }

    .vote{
        width:auto;
    }

    .vote input[type="submit"]:hover{
        background-color: var(--font-color);
        color:var(--bg-primary);
        transition: background-color 0.4s ease, color 0.4s ease;
    }

    /* don't show "arrows" for input number
    /* Firefox */
    input[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
    
    /* Chrome */
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        margin:0;
    }
    
    /* Opéra*/
    input::-o-inner-spin-button,
    input::-o-outer-spin-button { 
        -o-appearance: none;
        margin:0
    }
}