main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search{
    display:flex;
}

.search-icon{
    width:14px;
    height:14px;
    position:relative;
    right:25px;
    top:9px;
}

input[type="search"]{
    width:200px;
    height:2.3em;
    border-radius:1em;
    margin: 0 auto 15px auto;
    padding-left: 10px;
}

.gallery{
    width:324px;
    margin: 0 15px 20px 15px;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    padding:10px 20px;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 16px;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.team-container{
    background-color: var(--bg-primary);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 15px 5px;
    margin:10px auto;
}

.team{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

.card{
    background-color: var(--bg-primary);
    width:65px;
    padding: 2px;
    border: 1px solid var(--font-color);
}

.img-container{
    height:60px;
}

.img-element{
    position:relative;
    bottom:62px;
    left: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:50%;
    width:15px;
}

.character{
    width:60px;
}

.rarity4{
    background-color: var(--rarity-color-4);
}

.rarity5{
    background-color: var(--rarity-color-5);
}

p{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:12px;
    padding: 3px 0;
}

@media screen and (min-width:650px){
    .gallery{
        width:70%;
        margin: 0 auto 20px auto;
    }

    h2{
        font-size:20px;
    }

    .team-container{
        width:initial;
    }

    .card
    {
        width:105px;
    }

    .character{
        width:100px;
    }

    .img-container{
        height: 100px;
    }

    .img-element{
        width:25px;
        bottom:100px;
        left:72px;
    }

    p{
        font-size: 16px;
        padding:10px;
    }
}

@media screen and (min-width:769px){
    main{
        display:flex;
        flex-direction: column;
    }

    .search-icon{
        width:18px;
        height:18px;
        right: 35px;
        top: 8px;
    }

    .search-icon:hover{
        cursor: pointer;
    }

    input[type="search"]{
        width:250px;
        padding: 18px 10px;
        border-radius: 20px;
    }

    input:hover{
        cursor:pointer;
    }

    .gallery{
        width:520px;
        margin: 0 auto 20px auto;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
    }

    a:hover{
        transform: scale(1.02);
        transition: transform 0.3s ease;
    }

    .team-container{
        padding: 15px;
    }

    .img-element{
        width:25px;
    }
}

@media screen and (min-width:1366px) {
    .gallery{
        width:960px;
        flex-direction: row;
    }
}