.card{
    display:flex;
    flex-direction: column;
    height:140px;
}

.rarity3{
    background-color: var(--rarity-color-3);
}

.weapon{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100px;
    height:100px;
}

p{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100px;
    height:40px;
    font-size:small;
    background-color: var(--bg-primary);
    text-align: center;
}

@media screen and (min-width: 426px){
    .weapons-rarity-container{
        flex:2;
        justify-content: space-evenly;
    }

    select{
        flex:1;
        align-self: center;
        margin:15px;
    }
}

@media screen and (min-width: 769px){
    .filters-container{
        width:60%;
    }
}